
<!DOCTYPE HTML>
<html>
  <head>
   <meta http-equiv="x-ua-compatible" content="ie=edge">
 <link rel="icon" href="/images/logo.png">
    <title>Olateju Victor Daniel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css" />

    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <script src="/jss/jquery.js"></script>
  </head>

  <body class="is-preload">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header" class="alt">
            <a href="" class="logo"><strong style="background: none; border-radius: 50%"><img class="d-block" src="images/logo2.png" width="120" height="120" alt="logo" ></strong> </a>
            <nav>
              <a href="#menu">Menu</a>
            </nav>
          </header>

        <!-- Menu -->
          <nav id="menu">
            <ul class="links">
             <li style="font-family: cursive;">
             <a><strong style="color: cyan; font-weight: bold; font-family: cursive;">Olateju Victor Daniel</strong></a>Portfolio</li>
              <li><a href="">Home</a></li>
              
              <!-- <li><a href="elements.html">Elements</a></li> -->
            </ul>
            <ul class="actions stacked">
              <li><a class="button primary fit" href="tel:+2348149130392" itemprop="telephone"> Contact</a></li>

              <li><a href="" class="button primary fit">Message</a></li>
            </ul>
          </nav>

        <!-- Banner -->
          <section id="banner" class="major">
            <div class="inner">
              <header class="major">
                <h1>Hi, I'm Olateju Victor Daniel</h1>
              </header>
              <div class="content">
                <p>a proficient, success driven, and goal-oriented person<br> that readily engage in circles that offers challenging tasks,<br> self-development opportunities, leadership and humanitarian roles <br>to strengthen an organization’s efficiency and effectiveness.</p>
                <ul class="actions">
                  <li><a href="#one" class="button next scrolly">Know More</a> </li>
                </ul>
              </div>
            </div>
          </section>

        <!-- Main -->
          <div id="main">

            <!-- One -->
              <section id="one" class="tiles">
                <article>
                  <span class="image">
                    <img src="images/DSC_03852.jpg" alt="" />
                  </span>
                  <header class="major">
                    <h3><a href="landing.html" class="link">A Software Engineer</a></h3>
                    <p>Learned how to code in his sophomore year in the reputable Better By Far institution, University of Ilorin,  and has been so passionate about programming ever since.</p>
                  </header>
                </article>
                <article>
                  <span class="image">
                    <img src="/images/DSC_0502.jpg" alt="" />
                  </span>
                  <header class="major">
                    <h3><a href="landing.html" class="link">A Biomedical Engineering Graduate</a></h3>
                    <p>feugiat amet tempus</p>
                  </header>
                </article>
                <article>
                  <span class="image">
                    <img src="/images/kids.jpg" alt="" />
                  </span>
                  <header class="major">
                    <h3><a href="landing.html" class="link">A STEM educator<br>
                    </a></h3>
<h5>TechQuest Technology Academy, TechQuest Vice State-lead – Ekiti State. January 2019 – Present.</h5>
                    <p>
                    Co-facilitator of TQ academy, where he teaches group of kids within the age range of 6 – 16 years about Science, Technology, Engineering and Mathematics (STEM), and also teach kids and Enthusiasts how to Program a computer</p>
                  </header>
                </article>
                <article>
                  <span class="image">
                    <img src="/images/DSC_0438.jpg" alt="" />
                  </span>
                  <header class="major">
                    <h3><a href="landing.html" class="link">A Photographer</a></h3>
                    <h5>Eric-Lart Professional Photography Studio – Kwara State. February 2006 – September 2018.</h5>
                    <p>Learned the art of photography from one of the reputable Eric-Lart photography academy.</p>
                  </header>
                </article>
                <article>
                  <span class="image">
                    <img src="images/teach.jpg" alt="" />
                  </span>
                  <header class="major">
                    <h3><a href="landing.html" class="link">A Tech Facilitator</a></h3>
                    <h5>GBG (Google Business Group), Ado-ekiti, co-facilitator – Ekiti State. May 2019 – Present.</h5>

                    <p>Co-facilitator of the Google Business Group initiative, where we help entrepreneurs and business owners represent their products and services on a digital scale.</p>
                  </header>
                </article>
                <article>
                  <span class="image">
                    <img src="/images/nysc.jpg" alt="" />
                  </span>
                  <header class="major">
                    <h3><a href="landing.html" class="link">A Corp Member</a></h3>
                    <h5>Batch B 2019 SDG Ado-Ekiti Media Chairman, April 2019 – June 2019 </h5>
                    <p>Coordinated the Sustainable Developmental Goals (SDGs) Community Development Service Group, Ado-Ekiti chapter events coverage for the Batch B 2019</p>
                  </header>
                </article>
              </section>

            <!-- Two -->
              <section id="two">
                <div class="inner">
                  <header class="major">
                    <h2>Massa libero</h2>
                  </header>
                  <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.<br>
                  <p id="more">Follow me all the way</p>

                  </p>
                  <ul class="actions">

                    <li><a id="moreHead" class="button next">Read More</a></li>

             <script type="text/javascript">
             $("#more").hide();
             $("#moreHead").on("click", function(){
                        $("#more").fadeToggle();
                      })

                      

                    </script>

                  </ul>
                </div>
              </section>

          </div>

        <!-- Contact -->
          <section id="contact">
            <div class="inner">
              <section>
              <div class="alert <%= style %>"><%= response %></div>
                <form action="/mail" method="post">
                  <div class="fields">
                    <div class="field half">
                    
                      <label for="name">Name</label>
                      <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                      <label for="email">Email</label>
                      <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                      <label for="message">Message</label>
                      <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                  </div>
                  <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                    <li><input type="reset" value="Clear" /></li>
                  </ul>
                </form>
              </section>
              <section class="split">
                <section>
                  <div class="contact-method">
                    <span class="icon solid alt fa-envelope"></span>
                    <h3>Email</h3>
                    <a >christianovik009@gmail.com</a>
                  </div>
                </section>
                <section>
                  <div class="contact-method">
                    <span class="icon solid alt fa-phone"></span>
                    <h3>Phone</h3>
                    <span>(234) 081 - 491 303 92</span>
                  </div>
                </section>
                <section>
                  <div class="contact-method">
                    <span class="icon solid alt fa-home"></span>
                    <h3>Address</h3>
                    <span>EKSUTH Corper's lodge<br />
                    Ado, Ekiti state<br />
                    Nigeria</span>
                  </div>
                </section>
              </section>
            </div>
          </section>

        <!-- Footer -->
          <footer id="footer" class="wow fadeIn">
            <div class="inner">
              <ul class="icons">
                <li><a href="https://twitter.com/victorDaniel" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>

                <li><a href="https://web.facebook.com/victor.olateju.90"  class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>

                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
              </ul>
              <ul class="copyright">
                <li>&copy; <script>document.write(new Date().getFullYear());</script></li><li>Design: <a href="">Olateju, Victor Daniel</a></li>
              </ul>
            </div>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="/js/jquery.js"></script>
      <script src="/js/jquery.scrolly.min.js"></script>
      <script src="/js/jquery.scrollex.min.js"></script>
      <script src="/js/browser.min.js"></script>
      <script src="/js/breakpoints.min.js"></script>
      <script src="/js/util.js"></script>
      <script src="/js/main.js"></script>
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
  </body>
</html>