
<!DOCTYPE HTML>
<html>
  <head>
   <meta http-equiv="x-ua-compatible" content="ie=edge">
 <link rel="icon" href="/images/logo.png">
    <title>Olateju Victor Daniel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css" />
   <link href="/css/animate.css" rel="stylesheet">
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <script src="/jss/jquery.js"></script>
  </head>

  <body class="is-preload" id="home">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header" class="alt">
            <a href="" class="logo"><strong style="background: none; border-radius: 50%"><img class="d-block" src="images/logo2.png" width="100" height="100" alt="logo" ></strong> </a>
            <nav>
              <a href="#menu">Menu</a>
            </nav>
          </header>

        <!-- Menu -->
          <nav id="menu">
            <ul class="links">
             <li style="font-family: cursive;">
             <a><strong style="color: cyan; font-weight: bold; font-family: cursive;">Olateju Victor Daniel</strong></a></li>
              <li><a href="#home">Home</a></li>
              
              
            </ul>
            <ul class="actions stacked">
              <li><a class="button primary fit" href="tel:+2348149130392" itemprop="telephone"> Contact</a></li>

              <li><a href="#mail" class="button  fit">Message</a></li>

            </ul>
            
          </nav>

        <!-- Banner -->
          <section id="banner" class="major" style="background-image: url(/images/DSC_0384.jpg);">
            <div class="inner">
              <header class="major">
                <h1>Hi, I'm Olateju <span class="animated zoomIn delay-1s">Victor</span> Daniel</h1>
              </header>
              <div class="content">
                <p>a proficient, success driven, and goal-oriented person<br> that readily engages in circles that offers challenging tasks,<br> self-development opportunities, leadership and humanitarian roles <br>to strengthen organization’s efficiency and effectiveness.</p>
                <ul class="actions">
                  <li><a href="#type" class="button next scrolly">More</a> </li>
                </ul>
              </div>
            </div>
          </section>

        <!-- Main -->

          <div id="main">
              <section id="ones">
                <div class="inner">
                  <header class="major">
                    <h2 id="type">Experience</h2>
                  </header>
                  <p>  <ul class="actions">

                    <li><a href="#main" id="view1" class="button ">Default </a></li>
                    <li><a href="#main" id="view" class="button " title="view in landscape mode">Change View</a></li>

                  </ul></p>
                </div>
              </section>
            <!-- One -->
              <section id="one" class="tiles">
                <article>
                  <span class="image">
                    <img src="images/DSC_03852.jpg" alt="" />
                  </span>
                  <header class="major">
                    <h3><a class="lin">A Software Engineer</a></h3>
                    <p>Discovered how to program a computer in his sophomore year in the reputable Better By Far institution, University of Ilorin,  and has been so passionate about programming ever since.</p>
                  </header>
                </article>
                <article>
                  <span class="image">
                    <img src="/images/DSC_0502.jpg" alt="" />
                  </span>
                  <header class="major">
                    <h3><a class="lin">A Teacher and A Biomedical Engineering Graduate </a></h3>
                    <h5>EGT Preversity advance level center, 0’ level Physics senior tutor – Kwara State. August 2016 – September 2018  </h5>
                    <p>Taught JAMB and O’level mathematics and Physics in the year 2016, 2017 and 2018 respectively.<br>
                    Obtained a Bachelor's Degree in Biomedical Engineering in the year 2018
                    </p>
                  </header>
                </article>
                <article>
                  <span class="image">
                    <img src="/images/kids.jpg" alt="" />
                  </span>
                  <header class="major">
                    <h3><a class="lin">A STEM educator<br>
                    </a></h3>
<h5>TechQuest Technology Academy, TechQuest Vice State-lead – Ekiti State. January 2019 – Present.</h5>
                    <p>
                    Co-facilitator of TQ academy, where he teaches group of kids within the age range of 6 – 16 years about Science, Technology, Engineering and Mathematics (STEM), and also teach kids and Enthusiasts how to Program a computer</p>
                  </header>
                </article>
                <article>
                  <span class="image">
                    <img src="/images/DSC_0438.jpg" alt="" />
                  </span>
                  <header class="major">
                    <h3><a class="lin">A Photographer</a></h3>
                    <h5>Eric-Lart Professional Photography Studio – Kwara State. February 2006 – September 2018.</h5>
                    <p>Learned the art of photography from the reputable Eric-Lart photography academy.</p>
                  </header>
                </article>
                <article>
                  <span class="image">
                    <img src="images/teach.jpg" alt="" />
                  </span>
                  <header class="major">
                    <h3><a class="lin">A Tech Facilitator</a></h3>
                    <h5>GBG (Google Business Group), Ado-ekiti, co-facilitator – Ekiti State. May 2019 – Present.</h5>

                    <p>Co-facilitator of the Google Business Group initiative, where we help entrepreneurs and business owners represent their products and services on a digital scale.</p>
                  </header>
                </article>
                <article>
                  <span class="image">
                    <img src="/images/nysc.jpg" alt="" />
                  </span>
                  <header class="major">
                    <h3><a class="lin">A Corps Member</a></h3>
                    <h5>Batch B 2019 SDG Ado-Ekiti Media Chairman, April 2019 – June 2019 </h5>
                    <p>Coordinated the Sustainable Developmental Goals (SDGs) Community Development Service Group, Ado-Ekiti chapter events coverage for the Batch B 2019.<br> Also, a serving corp member at Ekiti State University Teaching Hospital
                    </p>
                  </header>
                </article>
              </section>




              <div id="one-b">
                <!-- One -->
              

            <!-- Two -->
              <section id="two" class="spotlights">
                <section>
                  <a class="image">
                    <img src="/images/DSC_03852.jpg" alt="" data-position="center center" />
                  </a>
                  <div class="content">
                    <div class="inner">
                      <header class="major">
                        <h3>A Software Engineer</h3>
                      </header>
                      <p>Discovered how to program a computer in his sophomore year in the reputable Better By Far institution, University of Ilorin,  and has been so passionate about programming ever since.</p>
                      
                    </div>
                  </div>
                </section>
                <section>
                  <a class="image">
                    <img src="/images/DSC_0502.jpg" alt="" data-position="top center" />
                  </a>
                  <div class="content">
                    <div class="inner">
                      <header class="major">
                        <h3>A Teacher and A Biomedical Engineering Graduate </h3>
                        <h5>EGT Preversity advance level center, 0’ level Physics senior tutor – Kwara State. August 2016 – September 2018  </h5>
                      </header>
                      <p>Taught JAMB and O’level mathematics and Physics in the year 2016, 2017 and 2018 respectively.<br>
                    Obtained a Bachelor's Degree in Biomedical Engineering in the year 2018.
                    </p>
                    </div>
                  </div>
                </section>

                <section>
                  <a class="image">
                    <img src="/images/kids.jpg"  alt="" data-position="25% 25%" />
                  </a>
                  <div class="content">
                    <div class="inner">
                      <header class="major">
                        <h3>A STEM educator</h3>
                        <h5>TechQuest Technology Academy, TechQuest Vice State-lead – Ekiti State. January 2019 – Present.</h5>
                      </header>
                      <p> Co-facilitator of TQ academy, where he teaches group of kids within the age range of 6 – 16 years about Science, Technology, Engineering and Mathematics (STEM), and also teach kids and Enthusiasts how to Program a computer</p>
                    </div>
                  </div>
                </section>

                <section>
                  <a class="image">
                    <img src="/images/DSC_0438.jpg" alt="" data-position="top center" />
                  </a>
                  <div class="content">
                    <div class="inner">
                      <header class="major">
                        <h3>A Photographer</h3>
                        <h5>Eric-Lart Professional Photography Studio – Kwara State. February 2006 – September 2018.</h5>
                      </header>
                      <p>Learned the art of photography from the reputable Eric-Lart photography academy.
                    </p>
                    </div>
                  </div>
                </section>

                <section>
                  <a class="image">
                    <img src="/images/teach.jpg"  alt="" data-position="25% 25%" />
                  </a>
                  <div class="content">
                    <div class="inner">
                      <header class="major">
                        <h3>A Tech Facilitator</h3>
                        <h5>GBG (Google Business Group), Ado-ekiti, co-facilitator – Ekiti State. May 2019 – Present.</h5>
                      </header>
                      <p>Co-facilitator of the Google Business Group initiative, where we help entrepreneurs and business owners represent their products and services on a digital scale.</p>
                    </div>
                  </div>
                </section>


                <section>
                  <a class="image">
                    <img src="/images/nysc.jpg" alt="" data-position="top center" />
                  </a>
                  <div class="content">
                    <div class="inner">
                      <header class="major">
                        <h3>A Corps Member</h3>
                         <h5>Batch B 2019 SDG Ado-Ekiti Media Chairman, April 2019 – June 2019 </h5>
                      </header>
                      <p>Coordinated the Sustainable Developmental Goals (SDGs) Community Development Service Group, Ado-Ekiti chapter events coverage for the Batch B 2019.<br> Also, a serving corp member at Ekiti State University Teaching Hospital
                    </p>
                    </div>
                  </div>
                </section>
              </section>

              </div>
<script type="text/javascript">
             $("#two").hide();
             $("#view").on("click", function(){
              $("#one").hide(2000);
              $("#two").show(2000);
                      })
            $("#view1").on("click", function(){
              $("#one").show(2000);
              $("#two").hide(2000);
                      })

                      

                    </script>


            <!-- Two -->
              <section id="two">
                <div class="inner" id="competencies">
                  <header class="major" id="references">
                    <h2>Skills and Competencies</h2>
                  </header>
                  <p>Excellent Team work ability, Distinguished solution achiever, Proficiency with Bioinformatics using Perl scripting language, Great Listening and Communication skills, Good time management, planning, and organizing skills, Excellent Programming Skills, Excellent writing skills
<br>
                  <div id="more"><header class="major">
                    <h2>References</h2>
                  </header> 
                  <div class="row">
                  <p class="col-lg-4">
                    <b>Engr. Miss. L. Jilantikiri</b> <br><i>Senior Lecturer Biomedical Engineering</i> Department <br>University of Ilorin, Kwara State <br> (234) 090 - 349 461 27
                    </p>
                    <p class="col-lg-4" style="color: cyan">
                    <b style="color: cyan">Engr. Babatope Agbelusi</b><br><i>Head of Department</i><br> Biomedical Engineering Unit <br>Ekiti State University Teaching Hospital, Ekiti State <br>
                    (234) 070 - 307 559 33
                    

                    </p>
                    <p class="col-lg-4">
                    <b>Mr. Femi Gbadeyan</b><br><i>Director</i> <br>EGT Preversity Ilorin, Kwara state<br>(234) 080 - 649 542 03 <br> (234) 090 - 361 863 73

                    </p>

                  </div>

                  </div>

                  </p>
                  <ul class="actions">

                    <li><a id="moreHead" class="button next">References</a></li>

             <script type="text/javascript">
             $("#more").hide();
             $("#moreHead").on("click", function(){
                        $("#more").slideToggle(2000);
                      })

                      

                    </script>

                  </ul>
                </div>
              </section>

          </div>

        <!-- Contact -->
          <section id="contact">
            <div class="inner">
              <section id="mail" class="tiles">
              <div class="alert <%= style %>"><%= response %></div>
                <form action="/home.php" method="post">
                  <div class="fields">
                    <div class="field half">
                    
                      <label for="name">Name</label>
                      <input type="text" name="name" id="name" required />
                    </div>
                    <div class="field half">
                      <label for="email">Email</label>
                      <input type="email" name="email" id="email" title="Should your msg require a feedback" required />
                    </div>
                    <div class="field">
                      <label for="message">Message</label>
                      <textarea name="message" id="message" rows="6" required></textarea>
                    </div>
                  </div>
                  <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                    <li><input type="reset" value="Clear" /></li>
                  </ul>
                </form>
              </section>
              <section class="split">
                <section>
                  <div class="contact-method">
                    <span class="icon solid alt fa-envelope"></span>
                    <h3>Email</h3>
                    christianovik009@gmail.com
                  </div>
                </section>
                <section>
                  <div class="contact-method">
                    <span class="icon solid alt fa-phone"></span>
                    <h3>Phone</h3>
                    <span>(234) 081 - 491 303 92</span>
                  </div>
                </section>
                <section>
                  <div class="contact-method">
                    <span class="icon solid alt fa-home"></span>
                    <h3>Address</h3>
                    <span>EKSUTH Corper's lodge<br />
                    Ado, Ekiti state<br />
                    Nigeria</span>
                  </div>
                </section>
              </section>
            </div>
          </section>

        <!-- Footer -->
          <footer id="footer" class="wow fadeIn">
            <div class="inner">
              <ul class="icons">
                <li><a href="https://twitter.com/victorDaniel" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>

                <li><a href="https://web.facebook.com/victor.olateju.90"  class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>

                <li><a href="#" class="icon brands alt fa-whatsapp"><span class="label">Whatsapp</span></a></li>
                <li><a href="https://www.linkedin.com/in/victor-daniel-olateju-7a629116a/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
              </ul>
              <ul class="copyright">
                <li>&copy; <script>document.write(new Date().getFullYear());</script></li><li style="color: whitesmoke">Olateju, Victor Daniel</li>
              </ul>
            </div>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="/js/jquery.js"></script>
      <script src="/js/jquery.scrolly.min.js"></script>
      <script src="/js/jquery.scrollex.min.js"></script>
      <script src="/js/browser.min.js"></script>
      <script src="/js/breakpoints.min.js"></script>
      <script src="/js/util.js"></script>
      <script src="/js/main.js"></script>
<script type="text/javascript">
    new WOW().init();
  </script>
  </body>
</html>